<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="quickboot/include::head('QuickBoot Admin')"></head>

<body>
    <div style="padding: 0px 0px; padding-right: 15px;">
        <div class="layui-fluid" style="padding: 0px 0px;">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md3 layui-col-lg2">
                    <div id="template_tree" data-active-node-id="" style="border-right: 1px solid #dadada;"></div>
                </div>
                <div class="layui-col-xs12 layui-col-sm8 layui-col-md9 layui-col-lg10">
<!--                    <div style="text-align: center; padding: 15px 0; border-bottom: 1px solid #dadada;"><h3>模板详情 <i class="fa-solid fa-angles-down"></i></h3></div>-->
                    <div id="generator_template_detail">
<!--                        <div style="display:flex;justify-content: center; align-items:center; height: 300px;">-->
                        <div style="border: 1px solid #dadada; border-radius:30px; margin: 30px 30px; padding: 50px 100px;">
                            <i class="fa-solid fa-hand-point-left"></i> 想查看模板代码内容？试试点击左侧菜单。
                        </div>
                        <pre class="layui-code">
{
    "name": "QBT_GEN_DATASOURCE",                                             // 数据库表名称
    "havePrimaryKey": true,                                                   // 是否有主键
    "fieldNames": "ID, USERNAME, CREATE_TIME",                                // 表中的字段列名
    "comment": "QBT_GEN_DATASOURCE",                                          // 数据库表注释
    "ignoredColumns": "ID, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME",   // 忽略的表字段
    "entityName": "QbtGenDatasource",                                         // Entity 实体类名称
    "packagePath": "com.github.mengweijin",                                   // Entity 实体类包路径
    "author": "mengweijin",                                                   // 作者
    "date": "2022-01-01",                                                     // 日期
    "fields": [
        {
            "keyFlag": true,                    // 当前字段是否主键
            "keyIdentityFlag": false,           // 主键是否为自增类型
            "columnName": "ID",                 // 列名
            "columnType": "LONG",               // 列类型
            "propertyType": "Long",             // Entity 字段属性 Java 类型
            "propertyName": "id",               // Entity 字段属性名称
            "propertyTypePackage": null,        // Entity 字段属性 Java 类型对应的 import package 路径
            "comment": "id",                    // 字段注释
            "entityIgnored": false              // 是否在 Entity.java 中忽略该字段
        },
        {
            "keyFlag": false,
            "keyIdentityFlag": false,
            "columnName": "USERNAME",
            "columnType": "STRING",
            "propertyType": "String",
            "propertyName": "username",
            "propertyTypePackage": null,
            "comment": "username",
            "entityIgnored": false
        },
        {
            "keyFlag": false,
            "keyIdentityFlag": false,
            "columnName": "CREATE_TIME",
            "columnType": "LOCAL_DATE_TIME",
            "propertyType": "LocalDateTime",
            "propertyName": "createTime",
            "propertyTypePackage": "java.time.LocalDateTime",
            "comment": "creation time",
            "entityIgnored": true
        }
    ]
}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script th:inline="javascript">
        layui.use(['jquery', 'layer', 'table', 'tree', 'code'], function () {
            let $ = layui.$, layer = layui.layer, table = layui.table, tree = layui.tree;

            layui.code({ title: 'Freemarker 模板参数 JSON 示例（单个数据库表）', skin:'dark'});

            let treeData = [[${treeData}]];


            var inst1 = tree.render({
              id: 'template_tree'
              ,elem: '#template_tree'
              ,onlyIconControl: true
              ,data: treeData
              ,click: function(obj){
                //console.log(obj.data); // 得到当前点击的节点数据
                //console.log(obj.state); // 得到当前节点的展开状态：open、close、normal
                //console.log(obj.elem); // 得到当前节点元素
                //console.log(obj.data.children); //当前节点下是否有子节点

                let activeNodeId = $("#template_tree").attr("data-active-node-id");
                let currentNodeId = obj.data.id;
                if(currentNodeId && activeNodeId != currentNodeId) {
                    $("#template_tree div [data-id='" + currentNodeId + "'] div:first").css("background-color", "#C2C2C2");
                    $("#template_tree div [data-id='" + activeNodeId + "'] div:first").css("background-color", "");
                    $("#template_tree").attr("data-active-node-id", currentNodeId);

                    //$("#generator_template_detail").load("/generator/template/detail/" + currentNodeId);
                    //$.tab.open('main_tab_filter', obj.data.title + ' 模板详情', "/generator/template/detail/" + currentNodeId, 'generator_template_detail_' + currentNodeId)
                    $.layer.open("/generator/template/detail/" + currentNodeId, { title: '模板详情', maxmin: false, area: ['100%', '100%'], closeBtn: 2 })
                }
              }
            });
        });
    </script>
</body>

</html>