[Unit]
Description=vitality-admin
After=syslog.target network.target

[Service]
Type=forking
WorkingDirectory=/opt/vitality/
ExecStart=/bin/bash ./vitality.sh start
ExecStop=/bin/bash ./vitality.sh stop
ExecReload=/bin/bash ./vitality.sh restart
PrivateTmp=true
TimeoutStartSec=0
KillMode=none

[Install]
WantedBy=multi-user.target
