server:
  port: 8080
  servlet:
    context-path: /
spring:
  application:
    name: @project.artifactId@
  profiles:
    active: db,layui,dev
  banner:
    location: classpath:banner.txt
  mvc:
    throw-exception-if-no-handler-found: false
  resources:
    # 对于Restful风格的应用应该设置为false; 对于传统的应用（如: 使用thymeleaf），应该设置为 true, 否则浏览器访问不到静态资源文件
    add-mappings: true
  main:
    # 是否允许循环依赖（Spring Cloud Alibaba Sentinel 中就有循环依赖）
    allow-circular-references: false
  jackson:
    # 默认就是UTC时区
    #time-zone: UTC
    # 加上这个配置，从前台接收LocalDateTime类型可直接使用@DateTimeFormat注解
    #date-format: yyyy-MM-dd HH:mm:ss
    # 序列化所有实体类的字段，包括值为null的
    default-property-inclusion: ALWAYS
  task:
    # @Async Spring异步任务
    execution:
      pool:
        # default 8  TaskExecutionProperties
        core-size: 8
    # scheduler Spring调度任务
    scheduling:
      pool:
        # default 1  TaskSchedulingProperties
        size: 8
  redis:
    host: localhost
    port: 6379
    # password:
#日志配置, 2.5.5 以后的配置。以前的版本是 logging.file: logs/application.log
logging:
  file:
    name: logs/application.log
  level:
    root: info
    com.github.mengweijin: debug
# Spring Boot的actuator（健康监控）功能，访问：http://localhost:80/actuator
management:
  # server:
    # 不配置的话默认使用应用程序下的端口
    # port: 8080
  endpoint:
    health:
      # always / never / when-authorized
      show-details: never
  endpoints:
    web:
      # 默认即为：/actuator
      # base-path: /actuator
      exposure:
        # 要暴露出来的接口，可配置：health(默认), info（2.5.0后不再默认暴露出去）, 配置为 * 代表所有
        include: [ "health" ]
        # exclude: ["trace"]
vitality:
  debug: true
  # 是否允许跨域
  cors: true
  # 默认配置加密 key。如：spring.datasource.password='{cipher}Hzy5iliJbwDHhjLs1L0j6w=='
  #cipher: vitality-abcd-1234
