<!DOCTYPE html>
<html>

<body>
    <div class="layui-side-scroll">
        <!-- 左侧导航区域 -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">menu group 1</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">menu 1</a></dd>
                    <dd><a href="javascript:;">menu 2</a></dd>
                    <dd><a href="javascript:;">menu 3</a></dd>
                    <dd><a href="javascript:;">the links</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">menu group 2</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">list 1</a></dd>
                    <dd><a href="javascript:;">list 2</a></dd>
                    <dd><a href="javascript:;">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">click menu item</a>
            </li>
            <li class="layui-nav-item"><a href="https://aday.fun">aday.fun</a></li>
        </ul>
    </div>
</body>

</html>