package ${package};

import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * <p>
 * ${entityName} BO
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${entityName}BO extends ${entityName} {

}
