package ${package};

import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${entityName} VO
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${entityName}VO extends ${entityName} {

}
