package ${package};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * $!{table.comment} ${entityName} Mapper
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper
public interface ${entityName}Mapper extends BaseMapper<${entityName}> {

}

