<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mwj-cms - 403</title>
    <!--/** content="5，即5秒后返回首页(url=/表示首页)，可根据需要修改或者删除这段代码 **/-->
    <meta http-equiv="refresh" content="5;url=/">
</head>
<body>
<div>
    <h1>403</h1>
    <h3>拒绝访问！</h3>
    <div>
        对不起，您没有权限访问当前页面。
        <div th:replace="error/4xx :: backIndexInterval"></div>
    </div>
</div>
</body>
</html>
