shell-emulator=true
shamefully-hoist=true
enable-pre-post-scripts=false
strict-peer-dependencies=false

# 设置 npm 源
registry=https://registry.npmmirror.com
# 安装 canvas 慢，卡住，就需要设置 npm 源
# npm install canvas --canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
canvas_binary_host_mirror=https://registry.npmmirror.com/-/binary/canvas
