html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.mwj-margin{
    margin: 10px 10px;
}
.mwj-mgl{
    margin-left: 20px;
}
.mwj-mgr{
    margin-right: 10px;
}
.mwj-margin{
    margin: 10px 10px;
}
.mwj-height-full {
    height: 100%;
}
.mwj-border {
    border: 1px solid #c2c2c2;
}
.mwj-border-form {
    border: 1px solid #eeeeee;
    margin: 20px auto;
    padding: 20px 20px;
}
.mwj-btn-width {
    min-width: 110px;
}
