<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.vita.system.mapper.RoleMapper">

    <select id="getRoleCodeByUsername" resultType="java.lang.String">
        select distinct r.CODE from VT_ROLE r
        inner join VT_USER_ROLE ur on ur.ROLE_ID = r.ID
        inner join VT_USER u on u.ID = ur.USER_ID
        where u.USERNAME = #{username}
    </select>

</mapper>
