@font-face {
  font-family: "iconfont"; /* Project id 4691238 */
  src: url('iconfont.woff2?t=1726977227063') format('woff2'),
       url('iconfont.woff?t=1726977227063') format('woff'),
       url('iconfont.ttf?t=1726977227063') format('truetype'),
       url('iconfont.svg?t=1726977227063#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vitality-gitee:before {
  content: "\e602";
}

.icon-vitality-alipay:before {
  content: "\e613";
}

.icon-vitality-wechart:before {
  content: "\e667";
}

.icon-vitality-qq:before {
  content: "\e668";
}

.icon-vitality-mail:before {
  content: "\e999";
}

.icon-vitality-csdn:before {
  content: "\e601";
}

.icon-vitality-gitee-color:before {
  content: "\e600";
}

.icon-vitality-fire:before {
  content: "\e611";
}

.icon-vitality-new:before {
  content: "\e686";
}

