<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.vitality.demo.sys.mapper.OrderMapper">

    <resultMap id="orderDTOResult" type="com.github.mengweijin.vitality.demo.sys.dto.OrderDTO">
        <id column="id"  property="id"/>
        <result column="code" property="code"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <association columnPrefix="user_" property="owner" column="create_by" javaType="com.github.mengweijin.vitality.demo.sys.entity.User">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="gender" property="gender"/>
            <result column="deleted" property="deleted"/>
            <result column="create_by" property="createBy"/>
            <result column="create_time" property="createTime"/>
            <result column="update_by" property="updateBy"/>
            <result column="update_time" property="updateTime"/>
        </association>
    </resultMap>

    <select id="findList" resultMap="orderDTOResult">
        select
          O.code,
          O.id,
          O.create_by,
          O.create_time,
          O.update_by,
          O.update_time,
          U.name        as user_name,
          U.gender      as user_gender,
          U.deleted     as user_deleted,
          U.id          as user_id,
          U.create_by   as user_create_by,
          U.create_time as user_create_time,
          U.update_by   as user_update_by,
          U.update_time as user_update_time
        from SYS_ORDER O
        left join SYS_USER U on O.create_by = U.id
    </select>

</mapper>
