<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.vitality.demo.sys.mapper.UserMapper">

    <resultMap id="userDTOResult" type="com.github.mengweijin.vitality.demo.sys.dto.UserDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <collection columnPrefix="order_" property="orderList" ofType="com.github.mengweijin.vitality.demo.sys.entity.Order">
            <id column="id" property="id" />
            <result column="code" property="code"/>
            <result column="create_by" property="createBy"/>
            <result column="create_time" property="createTime"/>
            <result column="update_by" property="updateBy"/>
            <result column="update_time" property="updateTime"/>
        </collection>
    </resultMap>

    <select id="findList" resultMap="userDTOResult">
        select
          U.name        ,
          U.gender      ,
          U.deleted     ,
          U.id          ,
          U.create_by   ,
          U.create_time ,
          U.update_by   ,
          U.update_time ,
          O.code        as order_code,
          O.id          as order_id,
          O.create_by   as order_create_by,
          O.create_time as order_create_time,
          O.update_by   as order_update_by,
          O.update_time as order_update_time
        from SYS_USER U
        left join SYS_ORDER O on U.id = O.create_by
    </select>

</mapper>
