<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="include::css"/>

<body>
<div id="index">
    <div th:include="include::mengweijin-header"></div>

    <el-container>
        <el-header>

        </el-header>

        <el-main>
            <el-row :gutter="10">
                <h1 th:text="#{operation.successful}"></h1>
            </el-row>
        </el-main>

        <el-footer>
            <div th:include="include::el-footer"></div>
        </el-footer>
    </el-container>
</div>

<div th:include="include::script"></div>

<script>
            new Vue({
              el: '#index',
              data: function() {
                return { visible: false }
              }
            })

</script>
</body>
</html>