<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>部门管理</title>
		<link rel="stylesheet" href="../../component/pear/css/pear.css" />
		<link rel="stylesheet" href="../../admin/css/other/department.css"/>
	</head>
	<body class="pear-container">
		<div class="layui-card">
			<div class="layui-card-body">
				<form class="layui-form" lay-filter="form-filter">
					<div class="layui-form-item">
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">表名称</label>
							<div class="layui-input-inline">
								<input type="text" name="tableName" placeholder="" class="layui-input" disabled>
							</div>
						</div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">所有表字段</label>
							<div class="layui-input-inline">
								<input type="text" name="tableColumns" placeholder="" class="layui-input" disabled>
							</div>
						</div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">忽略字段</label>
							<div class="layui-input-inline">
								<input type="text" name="ignoredColumns" placeholder="" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">包路径</label>
							<div class="layui-input-inline">
								<input type="text" name="packagePath" placeholder="" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">实体类名称</label>
							<div class="layui-input-inline">
								<input type="text" name="entityName" placeholder="" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">作者</label>
							<div class="layui-input-inline">
								<input type="text" name="author" placeholder="" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline">
							<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="execute-generate">
								<i class="layui-icon layui-icon-play"></i>生成代码到 target/generated/
							</button>
							<button type="reset" class="pear-btn pear-btn-md layui-hide">
								<i class="layui-icon layui-icon-refresh"></i>重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-body">
						<div id="templateTreeContent" style="overflow: auto">
							<ul id="templateTree" class="dtree templateTree" data-id="9527"></ul>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md9">
				<div class="layui-card">
					<div class="layui-card-body">
						<div style="text-align: right;">
							<button class="layui-btn layui-btn-normal" lay-template-event="copy"><i class="fa-solid fa-clone"></i> 复制代码</button>
						</div>
						<textarea name="code" rows="20" disabled class="layui-textarea" style="background: #3f3f3f; color: #c2be9e;"></textarea>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script>
			layui.use(['form', 'jquery', 'dtree', 'http', 'common', 'util'], function() {
				let form = layui.form;
				let $ = layui.jquery;
				let dtree = layui.dtree;
				let http = layui.http;
				let common = layui.common;
				let util = layui.util;

				let tableName = http.getQueryVariable('name');

				var DTree = dtree.render({
					elem: "#templateTree",
					//data: data,
					initLevel: "2", //默认展开层级为1
					line: true, // 有线树
					ficon: ["1", "-1"], // 设定一级图标样式。0表示方形加减图标，8表示小圆点图标
					icon: ["0", "2"], // 设定二级图标样式。0表示文件夹图标，5表示叶子图标
					method: 'get',
					url: "/gen/template/tree"
				});

				// 绑定节点点击事件
				dtree.on("node(templateTree)", function(obj) {
					if (!obj.param.leaf) {
						var $div = obj.dom;
						DTree.clickSpread($div); //调用内置函数展开节点
					} else {
						//layer.msg("叶子节点就不展开了,刷新右侧列表");
						window.execute(obj.param.nodeId)
						window.openCode(tableName, obj.param.nodeId);
					}
				});

				form.on('submit(execute-generate)', function(data) {
					//window.refresh(data.field)
					return false;
				});

				util.event('lay-template-event', {
					copy: function(othis) {
						let $code = $("textarea[name='code']");
                    	common.copyToClip($code.text());
					}
				});

				window.execute = function(templateTreeId) {
					//let url = "/gen/execute/" + tableName + '?' + http.buildQueryVariable(config).substring(1);
					let config = form.val("form-filter");
					$.ajax({
						url: "/gen/execute/" + tableName,
						data: JSON.stringify({templateId: templateTreeId, config: config }),
						dataType: 'text',
						contentType: 'application/json',
						type: 'post',
						success: function(result) {
							$("textarea[name='code']").text(result);
						}
					})
				}

				window.openCode = function(tableName, templateId) {
					let config = form.val("form-filter");
					layer.open({
						type: 2,
						title: tableName,
						shade: [0.5, "#393D49"],
						closeBtn: 1,
						shadeClose: true,
						maxmin: true,
						resize: false,
						area: ['800px', '450px'],
						content: 'code.html?tableName=' + tableName + '&templateId=' + templateId + http.buildQueryVariable(config)
					});
				}

				window.initFormValue = function(tableName) {
					$.ajax({
						url: "/gen/config/default/" + tableName,
						dataType: 'json',
						type: 'get',
						success: function(result) {
							form.val("form-filter", {
								"tableName": result.name
								,"tableColumns": result.fieldNames
								,"ignoredColumns": result.ignoredColumns
								,"entityName": result.entityName
								,"packagePath": result.packagePath
								,"author": result.author
							});
						}
					})
				}

				window.initFormValue(tableName);
			})
		</script>
	</body>
</html>
