<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/** 与 layout/admin/body 的区别是添加了 style="left: 0px;" 样式 **/-->
<div th:fragment="body" class="layui-body" style="left: 0px; padding: 10px 10px">
	<!-- 内容主体区域 -->
	<form class="layui-form" action="">
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 100px;">数据库表名称</label>
			<div class="layui-input-inline">
				<input type="text" name="tableName" placeholder="请输入数据库表名称" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<div class="layui-input-inline">
				<button class="layui-btn" lay-submit lay-filter="form-search-filter">查询</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>

	<table id="table" lay-filter="table-filter"></table>

	<script th:inline="javascript">
		layui.use(['jquery', 'form', 'table', 'quickboot'], function(){
			var $ = layui.$, form = layui.form, table = layui.table, quickboot = layui.quickboot;
			// var args = [[${args}]];

            let tableIns = table.render({
                elem: '#table' //指定原始表格元素选择器（推荐id选择器）
                ,url: 'gen/tableInfoList'
                ,where: {}
                ,method: 'get'
                //,height: 'full-20' //高度最大化减去差值
                ,loading: true //是否显示加载条
                ,toolbar: true // true/'default'/'<div>xxx</div>'/'#toolbarDemo'
                ,defaultToolbar: ['filter', 'print', 'exports']
                ,cols:  [ // 表头，标题栏。这里的上下两个中括号一定要分开写，如果写在一起，就被thymeleaf解释为内联表达式了。
                    [
                        //{type: 'radio',               fixed: 'left',          hide:true}
                        //{type: 'checkbox',      fixed: 'left',          hide:false}
                        {field: 'name',      title: '数据库表名称',  minWidth:200, sort: true}
                        //,{field: 'entityName',      title: '实体类名称',  hide:true}
                        //,{field: 'entityPath',      title: '实体类变量名称', hide:true}
                        ,{field: 'fieldNames',      title: '字段',  minWidth:500}
                        ,{field: 'havePrimaryKey',      title: '是否有主键字段',  minWidth:100}
                        ,{field: 'comment',  title: '数据库表备注',   minWidth:180}
                        //下面这里的toolbar值是模板元素的选择器
                        //,{fixed: 'right', title: '操作', align:'center', width: 100, toolbar: '#toolbarTpl'}
                    ]
                ]
            });

            function reloadTable(params) {
                params = params ? params : {};
                tableIns.reload({
                    where: params
                });
            }

			//提交
            form.on('submit(form-search-filter)', function(data){
                reloadTable(data.field); // 执行重载
                return false; // 阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
		});
	</script>
</div>
</html>
