<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="quickboot/include::head('QuickBoot Admin')"></head>

<body>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">数据库类型</label>
                <div class="layui-input-inline">
                    <select name="dbType" lay-search th:with="dbTypes=${@datasourceService.getDbTypes()}">
                        <option value="">请选择</option>
                        <option th:each="item : ${dbTypes}" th:value="${item}" th:text="${item}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input name="username" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="search-filter"><i class="layui-icon layui-icon-search"></i> 搜索</button>
                    <button type="reset" class="layui-btn layui-btn-normal"><i class="layui-icon layui-icon-refresh-3"></i> 重置</button>
                </div>
            </div>
        </div>
    </form>

    <script th:inline="javascript">
        layui.use(['jquery', 'form', 'quickboot'], function () {
            var $ = layui.$, form = layui.form, qb = layui.quickboot;

            
        });
    </script>
</body>

</html>