<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.system.mapper.LogErrorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.mengweijin.system.entity.LogErrorDO">
        <result column="ID" property="id" />
        <result column="CLASS_NAME" property="className" />
        <result column="METHOD_NAME" property="methodName" />
        <result column="EXCEPTION_NAME" property="exceptionName" />
        <result column="ERROR_MSG" property="errorMsg" />
        <result column="STACK_TRACE" property="stackTrace" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumn">
        t.ID,
        t.CLASS_NAME,
        t.METHOD_NAME,
        t.EXCEPTION_NAME,
        t.ERROR_MSG,
        t.STACK_TRACE,
        t.CREATE_BY,
        t.CREATE_TIME,
        t.UPDATE_BY,
        t.UPDATE_TIME
    </sql>

    <!-- 通用 Where 条件列 -->
    <sql id="BaseWhere">
        <where>
            <if test="p.id != null" >
                and t.ID = #{p.id}
            </if>
            <if test="p.className != null and p.className != '' ">
                and t.CLASS_NAME = #{p.className}
            </if>
            <if test="p.methodName != null and p.methodName != '' ">
                and t.METHOD_NAME = #{p.methodName}
            </if>
            <if test="p.exceptionName != null and p.exceptionName != '' ">
                and t.EXCEPTION_NAME = #{p.exceptionName}
            </if>
            <if test="p.errorMsg != null and p.errorMsg != '' ">
                and t.ERROR_MSG = #{p.errorMsg}
            </if>
            <if test="p.stackTrace != null and p.stackTrace != '' ">
                and t.STACK_TRACE = #{p.stackTrace}
            </if>
            <if test="p.createBy != null" >
                and t.CREATE_BY = #{p.createBy}
            </if>
            <if test="p.createTime != null" >
                and t.CREATE_TIME = #{p.createTime}
            </if>
            <if test="p.updateBy != null" >
                and t.UPDATE_BY = #{p.updateBy}
            </if>
            <if test="p.updateTime != null" >
                and t.UPDATE_TIME = #{p.updateTime}
            </if>
        </where>
    </sql>

        <!-- 通用 Where Like 条件列 -->
        <sql id="BaseWhereLike">
            <where>
                <if test="p.id != null" >
                    and t.ID = #{p.id}
                </if>
                <if test="p.className != null and p.className != '' ">
                    and t.CLASS_NAME like concat(concat('%', #{p.className}), '%')
                </if>
                <if test="p.methodName != null and p.methodName != '' ">
                    and t.METHOD_NAME like concat(concat('%', #{p.methodName}), '%')
                </if>
                <if test="p.exceptionName != null and p.exceptionName != '' ">
                    and t.EXCEPTION_NAME like concat(concat('%', #{p.exceptionName}), '%')
                </if>
                <if test="p.errorMsg != null and p.errorMsg != '' ">
                    and t.ERROR_MSG like concat(concat('%', #{p.errorMsg}), '%')
                </if>
                <if test="p.stackTrace != null and p.stackTrace != '' ">
                    and t.STACK_TRACE like concat(concat('%', #{p.stackTrace}), '%')
                </if>
                <if test="p.createBy != null" >
                    and t.CREATE_BY = #{p.createBy}
                </if>
                <if test="p.createTime != null" >
                    and t.CREATE_TIME = #{p.createTime}
                </if>
                <if test="p.updateBy != null" >
                    and t.UPDATE_BY = #{p.updateBy}
                </if>
                <if test="p.updateTime != null" >
                    and t.UPDATE_TIME = #{p.updateTime}
                </if>
            </where>
        </sql>

    <select id="detailById" resultType="com.github.mengweijin.system.dto.LogErrorDTO">
        select
            <include refid="BaseColumn"/>,
            cu.NICKNAME as create_by_name,
            uu.NICKNAME as update_by_name
        from VTL_LOG_ERROR t
        left join VTL_USER cu on cu.ID = t.CREATE_BY
        left join VTL_USER uu on uu.ID = t.UPDATE_BY
        where t.ID = #{id}
    </select>

    <select id="page" resultType="com.github.mengweijin.system.dto.LogErrorDTO">
        select
            <include refid="BaseColumn"/>,
            cu.NICKNAME as create_by_name,
            uu.NICKNAME as update_by_name
        from VTL_LOG_ERROR t
        left join VTL_USER cu on cu.ID = t.CREATE_BY
        left join VTL_USER uu on uu.ID = t.UPDATE_BY
        <include refid="BaseWhereLike"/>
        order by t.CREATE_TIME desc
    </select>

</mapper>
