<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.vitality.system.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.mengweijin.vitality.system.domain.entity.Menu">
        <id column="ID" property="id" />
        <result column="PARENT_ID" property="parentId" />
        <result column="TYPE" property="type"/>
        <result column="TITLE" property="title" />
        <result column="ROUTER_NAME" property="routerName"/>
        <result column="ROUTER_PATH" property="routerPath"/>
        <result column="COMPONENT_PATH" property="componentPath"/>
        <result column="SEQ" property="seq"/>
        <result column="REDIRECT" property="redirect"/>
        <result column="ICON" property="icon"/>
        <result column="EXTRA_ICON" property="extraIcon"/>
        <result column="ENTER_TRANSITION" property="enterTransition"/>
        <result column="LEAVE_TRANSITION" property="leaveTransition"/>
        <result column="ACTIVE_PATH" property="activePath"/>
        <result column="PERMISSION" property="permission" />
        <result column="IFRAME_SRC" property="iframeSrc"/>
        <result column="IFRAME_LOADING" property="iframeLoading"/>
        <result column="KEEP_ALIVE" property="keepAlive"/>
        <result column="HIDDEN_TAG" property="hiddenTag"/>
        <result column="FIXED_TAG" property="fixedTag"/>
        <result column="SHOW_LINK" property="showLink"/>
        <result column="SHOW_PARENT" property="showParent"/>
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        PARENT_ID,
        TYPE,
        TITLE,
        ROUTER_NAME,
        ROUTER_PATH,
        COMPONENT_PATH,
        SEQ,
        REDIRECT,
        ICON,
        EXTRA_ICON,
        ENTER_TRANSITION,
        LEAVE_TRANSITION,
        ACTIVE_PATH,
        PERMISSION,
        IFRAME_SRC,
        IFRAME_LOADING,
        KEEP_ALIVE,
        HIDDEN_TAG,
        FIXED_TAG,
        SHOW_LINK,
        SHOW_PARENT,
        ID,
        CREATE_BY,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_TIME
    </sql>

    <!-- 通用查询条件 -->
    <sql id="WhereCondition">
        <where>
            <if test="parentId != null">
                AND PARENT_ID = #{parentId}
            </if>
            <if test="type != null and type != ''">
                AND TYPE = #{type}
            </if>
            <if test="title != null and title != ''">
                AND TITLE = #{title}
            </if>
            <if test="routerName != null and routerName != ''">
                AND ROUTER_NAME = #{routerName}
            </if>
            <if test="routerPath != null and routerPath != ''">
                AND ROUTER_PATH = #{routerPath}
            </if>
            <if test="componentPath != null and componentPath != ''">
                AND COMPONENT_PATH = #{componentPath}
            </if>
            <if test="seq != null">
                AND SEQ = #{seq}
            </if>
            <if test="redirect != null and redirect != ''">
                AND REDIRECT = #{redirect}
            </if>
            <if test="icon != null and icon != ''">
                AND ICON = #{icon}
            </if>
            <if test="extraIcon != null and extraIcon != ''">
                AND EXTRA_ICON = #{extraIcon}
            </if>
            <if test="enterTransition != null and enterTransition != ''">
                AND ENTER_TRANSITION = #{enterTransition}
            </if>
            <if test="leaveTransition != null and leaveTransition != ''">
                AND LEAVE_TRANSITION = #{leaveTransition}
            </if>
            <if test="activePath != null and activePath != ''">
                AND ACTIVE_PATH = #{activePath}
            </if>
            <if test="permission != null and permission != ''">
                AND PERMISSION = #{permission}
            </if>
            <if test="iframeSrc != null and iframeSrc != ''">
                AND IFRAME_SRC = #{iframeSrc}
            </if>
            <if test="iframeLoading != null and iframeLoading != ''">
                AND IFRAME_LOADING = #{iframeLoading}
            </if>
            <if test="keepAlive != null and keepAlive != ''">
                AND KEEP_ALIVE = #{keepAlive}
            </if>
            <if test="hiddenTag != null and hiddenTag != ''">
                AND HIDDEN_TAG = #{hiddenTag}
            </if>
            <if test="fixedTag != null and fixedTag != ''">
                AND FIXED_TAG = #{fixedTag}
            </if>
            <if test="showLink != null and showLink != ''">
                AND SHOW_LINK = #{showLink}
            </if>
            <if test="showParent != null and showParent != ''">
                AND SHOW_PARENT = #{showParent}
            </if>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="createBy != null">
                AND CREATE_BY = #{createBy}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="updateBy != null">
                AND UPDATE_BY = #{updateBy}
            </if>
            <if test="updateTime != null">
                AND UPDATE_TIME = #{updateTime}
            </if>
        </where>
    </sql>

    <select id="selectPermissionListByUsername" resultType="java.lang.String">
        select distinct m.PERMISSION from VTL_MENU m
        INNER JOIN VTL_ROLE_MENU rm on rm.MENU_ID = m.ID
        AND rm.ROLE_ID IN (
            SELECT ur.ROLE_ID FROM VTL_USER_ROLE ur
            INNER JOIN VTL_USER u ON u.ID = ur.USER_ID
            INNER JOIN VTL_ROLE r ON r.ID = ur.ROLE_ID
            WHERE r.DISABLED = 'N'
            AND u.USERNAME = #{username}
        )
    </select>

</mapper>
