<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.vitality.system.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.mengweijin.vitality.system.domain.entity.Role">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="CODE" property="code" />
        <result column="SEQ" property="seq" />
        <result column="DISABLED" property="disabled" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        NAME,
        CODE,
        SEQ,
        DISABLED,
        REMARK,
        ID,
        CREATE_BY,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_TIME
    </sql>

    <!-- 通用查询条件 -->
    <sql id="WhereCondition">
        <where>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
            <if test="code != null and code != ''">
                AND CODE = #{code}
            </if>
            <if test="seq != null">
                AND SEQ = #{seq}
            </if>
            <if test="disabled != null and disabled != ''">
                AND DISABLED = #{disabled}
            </if>
            <if test="remark != null and remark != ''">
                AND REMARK = #{remark}
            </if>
            <if test="id != null">
                AND ID = #{id}
            </if>
            <if test="createBy != null">
                AND CREATE_BY = #{createBy}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="updateBy != null">
                AND UPDATE_BY = #{updateBy}
            </if>
            <if test="updateTime != null">
                AND UPDATE_TIME = #{updateTime}
            </if>
        </where>
    </sql>

    <select id="getByUserId" resultType="com.github.mengweijin.vitality.system.domain.entity.Role">
        select
            t.NAME,
            t.CODE,
            t.SEQ,
            t.DISABLED,
            t.REMARK,
            t.ID,
            t.CREATE_BY,
            t.CREATE_TIME,
            t.UPDATE_BY,
            t.UPDATE_TIME
        from VTL_ROLE t
        left join VTL_USER_ROLE vur on vur.ROLE_ID = t.ID
        where vur.USER_ID = #{userId}
    </select>

    <select id="getRoleCodeByUsername" resultType="java.lang.String">
        select distinct r.CODE from VTL_ROLE r
        inner join VTL_USER_ROLE ur on ur.ROLE_ID = r.ID
        inner join VTL_USER u on u.ID = ur.USER_ID
        where u.USERNAME = #{username}
    </select>

</mapper>
