<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.vitality.system.mapper.VtlRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.mengweijin.vitality.system.entity.VtlRole">
        <result column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="CODE" property="code" />
        <result column="SEQ" property="seq" />
        <result column="DISABLED" property="disabled" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumn">
        t.ID,
        t.NAME,
        t.CODE,
        t.SEQ,
        t.DISABLED,
        t.REMARK,
        t.CREATE_BY,
        t.CREATE_TIME,
        t.UPDATE_BY,
        t.UPDATE_TIME
    </sql>

    <!-- 通用 Where 条件列 -->
    <sql id="BaseWhere">
        <where>
            <if test="p.id != null" >
                and t.ID = #{p.id}
            </if>
            <if test="p.name != null and p.name != '' ">
                and t.NAME = #{p.name}
            </if>
            <if test="p.code != null and p.code != '' ">
                and t.CODE = #{p.code}
            </if>
            <if test="p.seq != null" >
                and t.SEQ = #{p.seq}
            </if>
            <if test="p.disabled != null" >
                and t.DISABLED = #{p.disabled}
            </if>
            <if test="p.remark != null and p.remark != '' ">
                and t.REMARK = #{p.remark}
            </if>
            <if test="p.createBy != null" >
                and t.CREATE_BY = #{p.createBy}
            </if>
            <if test="p.createTime != null" >
                and t.CREATE_TIME = #{p.createTime}
            </if>
            <if test="p.updateBy != null" >
                and t.UPDATE_BY = #{p.updateBy}
            </if>
            <if test="p.updateTime != null" >
                and t.UPDATE_TIME = #{p.updateTime}
            </if>
        </where>
    </sql>

        <!-- 通用 Where Like 条件列 -->
        <sql id="BaseWhereLike">
            <where>
                <if test="p.id != null" >
                    and t.ID = #{p.id}
                </if>
                <if test="p.name != null and p.name != '' ">
                    and t.NAME like concat(concat('%', #{p.name}), '%')
                </if>
                <if test="p.code != null and p.code != '' ">
                    and t.CODE like concat(concat('%', #{p.code}), '%')
                </if>
                <if test="p.seq != null" >
                    and t.SEQ = #{p.seq}
                </if>
                <if test="p.disabled != null" >
                    and t.DISABLED = #{p.disabled}
                </if>
                <if test="p.remark != null and p.remark != '' ">
                    and t.REMARK like concat(concat('%', #{p.remark}), '%')
                </if>
                <if test="p.createBy != null" >
                    and t.CREATE_BY = #{p.createBy}
                </if>
                <if test="p.createTime != null" >
                    and t.CREATE_TIME = #{p.createTime}
                </if>
                <if test="p.updateBy != null" >
                    and t.UPDATE_BY = #{p.updateBy}
                </if>
                <if test="p.updateTime != null" >
                    and t.UPDATE_TIME = #{p.updateTime}
                </if>
            </where>
        </sql>

    <select id="detailById" resultType="com.github.mengweijin.vitality.system.dto.VtlRoleDTO">
        select
            <include refid="BaseColumn"/>,
            cu.NICKNAME as create_by_name,
            uu.NICKNAME as update_by_name
        from VTL_ROLE t
        left join VTL_USER cu on cu.ID = t.CREATE_BY
        left join VTL_USER uu on uu.ID = t.UPDATE_BY
        where t.ID = #{id}
    </select>

    <select id="page" resultType="com.github.mengweijin.vitality.system.dto.VtlRoleDTO">
        select
            <include refid="BaseColumn"/>,
            cu.NICKNAME as create_by_name,
            uu.NICKNAME as update_by_name
        from VTL_ROLE t
        left join VTL_USER cu on cu.ID = t.CREATE_BY
        left join VTL_USER uu on uu.ID = t.UPDATE_BY
        <include refid="BaseWhereLike"/>
        order by t.SEQ asc
    </select>

</mapper>
