<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../component/pear/css/pear.css" />
</head>
<body>
<div id="descriptions"></div>
<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script>
    layui.use(['descriptions', 'dict'], function() {
        let desc = layui.descriptions;
        let dict = layui.dict;
        let url = layui.url();
        let id = url.search.id;

        desc.render({
            elem: '#descriptions',
            fieldNum: 2,
            url: '/vtl-log-login/detail/' + id,
            cols: [
                { field: 'id', title: 'ID', hide: true },
                { field: 'username', title: '登录账号' },
                { field: 'loginType', title: '登录类型', templet: function(d){
                    return dict.label('vtl_login_type', d.loginType, true);
                }},
                { field: 'ip', title: '登录IP' },
                { field: 'ipLocation', title: '登录地点' },
                { field: 'browser', title: '浏览器' },
                { field: 'platform', title: '设备平台类型' },
                { field: 'operatingSystem', title: '操作系统' },
                { field: 'succeeded', title: '操作状态', templet: function(d){
                    return dict.label('vtl_succeeded', d.succeeded, true);
                }},
                { field: 'errorInfo', title: '错误消息', newline: true },
                { field: 'createByName', title: '创建者', newline: true },
                { field: 'createTime', title: '创建时间', templet: function (d) {
                    return layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss");
                }},
                { field: 'updateByName', title: '更新者' },
                { field: 'updateTime', title: '更新时间', templet: function (d) {
                    return layui.util.toDateString(d.updateTime, "yyyy-MM-dd HH:mm:ss");
                }},
            ]
        });
    })
</script>
</body>
</html>
